body{
    background:url(/unit-4-game/assets/images/diamondBackground.jpg);
    background-size: contain;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-display: bold;
    color:black;
}

.container{
/*     background-color:rgb(184, 221, 236); */
    margin:auto;
    margin-top:2%;
    margin-bottom:2%;
    text-align: center; 
    height: 700px;
    width:900px;
}
.images{
    background: gray;
    padding: 10px;
    border: none;
}
