body{
    background-color: lightblue;
    background-size: contain;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    font-display: bold;
    text-shadow: black;

}

.container{
/*     background-color:rgb(184, 221, 236); */
    margin:auto;
    margin-top:1%;
    margin-bottom:1%;
    text-align: center; 
    height: 600px;
    width:900px;
}
.images{
   
    padding: 10px;
    border: none;
}
