body{
    background:url(/unit-4-game/assets/images/diamondBackground.jpg);
}

.container{
    background-color: rgb(164, 164, 165);
    margin:auto;
    margin-top:2%;
    margin-bottom:2%;
    text-align: center; 
    height: 700px;
    width:900px;
}
.images{
    background: lightblue;
    padding: 10px;
    border: none;
}
